@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  background-color: lightblue;
  /* how do i import custom fonts*/
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: navy;
  text-align: center;
}
